.reviewItem {
  background-color: #1e2128;
  border: 1px solid #3a3f47; 
  border-radius: var(--border-radius);
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: var(--text-color);
}

.reviewHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #3a3f47;
  padding-bottom: 12px;
  margin-bottom: 16px;
}

.author {
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
}

.date {
  font-size: 1rem;
  color: #888;
}

.reviewContent {
  font-size: 1rem;
  line-height: 1.6;
  margin-top: 12px;
  color: #cfcfcf;
  text-align: justify;
}
